* {
    font-family: monospace
}

.bold {
    font-weight: bold
}

.gray {
    color: gray
}

.task-list-container, .container {
    border: 1px solid black;
    border-radius: 3px;
    margin: 10px
}

.task-list-title, .title {
    border-bottom: 1px solid black;
    padding: 5px
}

.task-list-task {
    margin: 5px
}

.create-new-task-input {
    margin: 12px 10px;
}

.create-new-task-input > input {
    padding: 2px 4px
}

.create-new-task-button {
    margin: 0px 10px 12px 10px;
    padding: 5px;
    color: white;
    background-color: black;
    border-radius: 3px;
    display: inline-block;
    font-size: 8px;
    font-weight: bold
}

.create-new-task-subtask-container {
    margin: 0px 10px 10px
}