* {
    font-family: monospace;
    color: white !important;
    border-color: white !important;
    background-color: black !important
}

.bold {
    font-weight: bold
}

.gray {
    color: gray
}

.green {
    color: green
}

.red {
    color: red
}

.inline-block {
    display: inline-block
}

.task-list-container, .container {
    border: 1px solid black;
    border-radius: 3px;
    margin: 10px;
    min-height: 200px
}

.task-list-title, .title {
    border-bottom: 1px solid black;
    padding: 5px
}

.task-list-task {
    margin: 20px;
    height: 10px;
    display: inline-block;
    padding: 10px;
}

.task-list-graph {
    display: inline-block;
    height: 30px;
    width: 80%
}

.delete-task {
    margin-right: 5px
}

.create-new-task-input {
    margin: 12px 10px;
}

.create-new-task-input > input {
    padding: 2px 4px
}

.create-new-task-button, .button {
    margin: 0px 10px 12px 10px;
    padding: 5px;
    color: white;
    background-color: black;
    border-radius: 3px;
    display: inline-block;
    font-size: 8px;
    font-weight: bold;
    cursor: pointer
}

.create-new-task-subtask-container {
    margin: 0px 10px 10px
}

.timer-time-container {
    padding: 10px
}

.timer-total-times-container {
    font-size: 10px
}

.timer-large-time {
    font-size: 60px
}

.timer-large-time-plus-minus {
    position: relative;
    bottom: 30px;
    left: 10px
}

.timer-subtask {
    display: inline-block;
    border: 2px solid black;
    margin: -1px;
    padding: 10px
}

.timer-button-next {
    margin: 10px 0px 0px
}

.task-list-bar {
    width: 15px;
    background-color: white !important;
    margin: 0px 10px;
    display: inline-block
}